html{
	background-color: #ECEEF1;
}


.form-text-style{
	font-size:24px;
	font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #4C4C4C;
	font-weight: 400px;
	line-height: 1.1px;
	text-align: center;
}

.form-div{
	margin: auto;
	border: 1px solid #c7c7c7;
	background-color: #fff;
	padding: 30px;
	width: 320px;

}

.nav-bar{
	display: inline-block;
	justify-items: end;
}

.intuit-logo{
	text-align: center;
}

.form-logo{
	text-align: center;
}

fieldset{
	border: none;
}

.s-typo{
	font-size:10px;
	font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #4c4c4c;
	font-weight: 300px;
	line-height: 1.2px;
}

label{
	font-size:14px;
	font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #404040;
	font-weight: 400px;
	line-height: 25px;
}

.input-style{
	border: solid 1px;
	border-radius: 3px;
	text-shadow:none;
	border-color: #C1C5C8;
	width: 320px;
	line-height: 30px;
}

.form-description{
	color: #4C4C4C;
	font-size: 14px;
	text-align: center;
	font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-top: 20px;
}

a{
	text-decoration: none;
	color: #0077C5;
}
